{% extends "base.html" %}

{% load static %}

{% block title %}Booking Successful{% endblock %}

{% block content %}
<div class="container bg-light py-5">
    <div class="alert alert-success">
        <h2 class="mb-3">🎉 Booking Confirmed!</h2>

        {% if booking %}
            <p>🍽️Your booking was successful!</p>
            <p><strong>Summary of your reservation:</strong></p>
            <p><strong>Table number:</strong> {{ booking.table.table_number }}</p>
            <p><strong>Date:</strong> {{ booking.booking_date|date:"F j, Y" }} at {{ booking.booking_time|time:"H:i" }}</p>
            <p><strong> Number of Guests:</strong> {{ booking.number_of_guests }} </p>
            <p><strong><em>Booking made on:</strong> {{ booking.created_at|date:"F j, Y, H:i"  }}: Server Time 🏢😊 </em></p>
        {% else %}
            <p>We couldn’t find the booking details, but your reservation has been confirmed.</p>
        {% endif %}
    </div>

    <div class="text-center mt-4">
        <a href="{% url 'public_booking' %}" class="btn btn-primary">Make Another Booking</a>
        <a href="{% url 'home' %}#testimonialCarousel" class="btn btn-outline-secondary ms-2">
      See What Our Customers Say
    </a>
    </div>
</div>
{% endblock %}


