body {
    background-color: #f8f9fa; /* light gray background like Bootstrap's bg-light */
}

.navbar-brand {
    font-weight: 600;
    letter-spacing: 0.03em;
}


.footer {
    background-color: #343a40; /* dark background */
    color: #ffffff; /* white text */
    padding: 20px 0;
    text-align: center;
}